
@{
    ViewBag.Title = "Thanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">PHƯƠNG THỨC THANH TOÁN</font></h2>
<ol>
    <li><b>Thanh toán khi nhận hàng</b></li>
    Quý khách vui lòng chọn thanh toán khi nhận hàng và tiến hành làm theo hướng dẫn.
</ol>